* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
  background-size: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 100px;
}

.buttons {
  display: flex;
  justify-content: center;
}
.btns {
  padding: 1em;
  margin: 1.2em 1.2em 4em 2em;
  width: 8em;
  color: white;
  background: black;
  border: none;
}